<html>
<head>
	<title>Pictures</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500i,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<link rel="stylesheet"  href="static/css/style.css">
</head>
<body>

<div class="container">
<h1>Hi!</h1>
    <h3>Perhaps my СV should be here.</h3>
     <h3>But I want to show you a gallery of my favorite funny pictures.</h3>
<hr>
	<div class="row">

		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="static/1.jpg"></a>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="static/4.jpg"></a>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="static/6.jpg"></a>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="static/2.jpg"></a>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="static/5.jpg"></a>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="thumbnail img-responsive">
				<a href="#" title="Image 1"><img src="static/3.jpg"></a>
			</div>
		</div>
	</div>
</div>


</body>
</html>